@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Qwigley&display=swap');

* {
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.5;
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
}

:root {
	--background-color: #FCFFF3;
	--background-color-light: #F5E2E9;
	--primary-color: #cf3d77bf;
	--linear-gradient-color: linear-gradient(180deg, #d96995bf 3.12%, #cf3d77bf 51.56%, rgba(222, 127, 164, 0.75) 100%);
	--text-color: #000;
	--main-font: "Quicksand", sans-serif;
	--Duneya-font: "Qwigley", cursive;
	--margin: 2rem;
	--padding: 2rem;
	--bradius: 3rem;
}

p {
	line-height: 1.5;
		
}
